{% extends "base.html" %}


{% block title %}
Register - SNS
{% endblock %}


{% block content %}

<div class="form-container">

    <h1>Create Account</h1>

    <p class="form-subtitle">
        Register to start managing your notes.
    </p>


    <form
        method="POST"
        action="{{ url_for('register') }}"
    >

        <div class="form-group">

            <label for="name">
                Full Name
            </label>

            <input
                type="text"
                id="name"
                name="name"
                placeholder="Enter your name"
                required
            >

        </div>


        <div class="form-group">

            <label for="email">
                Email
            </label>

            <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter your email"
                required
            >

        </div>


        <div class="form-group">

            <label for="password">
                Password
            </label>

            <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter password"
                required
            >

        </div>


        <div class="form-group">

            <label for="confirm_password">
                Confirm Password
            </label>

            <input
                type="password"
                id="confirm_password"
                name="confirm_password"
                placeholder="Confirm password"
                required
            >

        </div>


        <button
            type="submit"
            class="btn btn-primary full-width"
        >
            Register
        </button>

    </form>


    <p class="form-footer">

        Already have an account?

        <a href="{{ url_for('login') }}">
            Login
        </a>

    </p>

</div>

{% endblock %}